.jumbotron {
  margin: auto;
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3rem
  }
}

@media screen and (max-width: 564px) {
  .jumbotron {
    .display-3 {
      font-size: 3rem;     
    }
  }
}
